$phoneMinWidth: 320px
$phoneMaxWidth: 480px
$tabletMinWidth: 768px
$tabletMaxWidth: 1024px
$profileBarColor: #2046F6
$linkColor: #2046F6
$profileBarTextColor: white
$smallFont: 1em
$medFont: 1.2em
$darkHeaderColor: #7397FF
$lightHeaderColor: #BBCCFF
$tableHeaderColor: #A0B9FF  
$smallHeaderHeight: 80px
$medHeaderWidth: 150px
$fancyFonts: Satisfy, Caveat
$japaneseFont: "Noto Serif JP"
$aTagHoverColor: #E5E5E5

:root
    max-width: 80vw
    margin: auto auto

@import "smallscreens.sass"
@import "mediumscreens.sass"
@import "largescreens.sass"

h2, h3
    text-align: left
    margin: 1rem
    font-family: Arial, Tahoma
    padding: 0.5rem
    border-bottom: 0.1rem solid rgba(100,100,100,0.5)

a:hover
    cursor: pointer

header
    text-align: center
    font-size: 2rem

.careerprofile,
.webpresencelink,
.educationtable,
.professionalexperience,
.certifications
    text-align: left
    margin: 2rem

.flag
    width: 2vw
    height: 2vw

.language
    transition-duration: 0.3s
    margin-top: 0.7rem
    cursor: pointer

.jobheader
    display: flex
    flex-direction: row
    justify-content: space-between

.job
    display: flex
    flex-direction: row

.educationheader
    font-weight: bold

.school
    display: flex
    justify-content: space-between

.schoolname
    width: 30%

.schoollocation
    width: 30%

.schooldate
    text-align: right
    width: 5rem

.skill
    display: flex
    justify-content: space-between
    max-width: 80vh
    margin: auto auto

.skilllogo
    max-width: 50px
    max-height: 50px
